body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f9fafc;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 1500px;
  gap: 50px;
  flex-wrap: wrap;
  margin: auto
}

.left, .right {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 600px;
  min-height: 420px;
}

.upload-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 15px;
}

.upload-label:hover {
  background-color: #2980b9;
}

.preview {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: block;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .left, .right {
    width: 90%;
  }
}

.result {
  background: #f4f6f8;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1;
  white-space: pre-wrap;
}

.label {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.prob-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.prob-table th, .prob-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.prob-table th {
  background-color: #3498db;
  color: white;
}

.prob-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.prob-table tr:hover {
  background-color: #eef5ff;
}
